.alert-success {
    background-color: #5db899;
    color: darkgreen;
}

.alert-warning {
    background-color: #FFFEC3;
    color: darkgoldenrod;
}

.alert-danger {
    background-color: #FF9288;
    color: darkred;
}

.alert-info {
    background-color: #A4D7EC;
    color: darkblue;
}
nav li{display: inline; background-color: rgb(4, 144, 64);}
nav li a{color: black}
#nav-item{color:white;}
.dropdown-menu{background-color:rgb(4, 144, 64);}
.dropdown-menu li a:hover{
    background-color: rgb(191, 82, 121);
    color: white;
}
#blue-button{
    background-color: rgb(4, 144, 64);
    color: white;
}
.link{color:rgb(191, 82, 121);}
.link:hover{color: rgb(4, 144, 64);}
input{border-radius: 5%;}
body{
    background-color: rgb(220, 220, 220);
    color: rgb(4, 144, 64);

}
#rating{
    width: 600px;
    -webkit-appearance: none;
}
#rating::-webkit-slider-thumb {
    background-color: rgb(4, 144, 64);
}
#rating::-webkit-slider-runnable-track{
    background-color: lightgreen;
}

  